/* Default Layout: 1260px.  */
.selectnav {display:none;}
#nav {display:block}




/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
.column {width:750px}
.selectnav {display:none;}
#nav {display:block}
.single_promo {width:230px}
.left_text {margin-bottom: 12px; text-align: center; width: 717px;}
.right_button {clear: both; float: none; margin: 5px auto 0; width: 225px;}
.testimonials_area {margin-right: 20px; width: 290px;}
.latest_news {width: 440px;}
.footer_single {width: 168px;}

}



/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
.column, .logo, .our_awesome_services, .single_promo, .testimonials_area, .latest_news, .footer_single, .copyright_text, .powered_by  {width:300px}
.selectnav {display: block;margin: 0 auto;}
#nav {display:none}
.logo {margin-top: 10px; text-align: center;}
.mainmenu {background: none repeat scroll 0 0 #A62282; clear: both; float: none; margin-bottom: 20px; margin-top: 20px; padding: 10px;}
.our_awesome_services {margin: 35px auto; text-align: center;}
.single_promo {border-bottom: 1px solid #DDDDDD; margin-bottom: 25px; margin-left: 30px; padding-bottom: 25px; text-align: center;}
.right_button {float: none; text-align: center;}
.testimonials_area {margin-right: 0;}
.latest_news {border-top: 1px solid #DDDDDD; margin-top: 25px; padding-top: 25px;}
.footer_single {color: #666666; margin-bottom: 20px; margin-left: 25px;}
.copyright_text {text-align: center; margin-bottom: 5px;}
.powered_by {text-align: center;}
.left_text {margin-bottom: 10px;text-align: center; width: 270px;}

}



/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
.column, .logo, .our_awesome_services, .single_promo, .testimonials_area, .latest_news, .footer_single, .copyright_text, .powered_by  {width:450px}
.selectnav {display: block;margin: 0 auto;}
#nav {display:none}
.logo {margin-top: 10px; text-align: center;}
.mainmenu {background: none repeat scroll 0 0 #A62282; clear: both; float: none; margin-bottom: 20px; margin-top: 20px; padding: 10px;}
.our_awesome_services {margin: 35px auto; text-align: center;}
.single_promo {border-bottom: 1px solid #DDDDDD; margin-bottom: 25px; margin-left: 30px; padding-bottom: 25px; text-align: center;}
.left_text { margin-bottom: 10px; text-align: center; width: 420px;}
.right_button {float: none; text-align: center;}
.testimonials_area {margin-right: 0;}
.latest_news {border-top: 1px solid #DDDDDD; margin-top: 25px; padding-top: 25px;}
.footer_single {color: #666666; margin-bottom: 20px; margin-left: 25px;}
.copyright_text {text-align: center; margin-bottom: 5px;}
.powered_by {text-align: center;}

}